body {
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.6em;
  background-color: #c6ddea;
}

body::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb{
  background: linear-gradient(#002777, #2563eb);
  border-radius: 12px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #002777;
}

.ihsdc-navbar {
  background: linear-gradient(#2563eb, #328ffe);
}

.ihsdc-container-fluid {
  height: auto;
}

.ihsdc-container-fluid {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-image: url(../images/bg-min.png);
  height: 100vh;
}

.ihsdc-navbar-brand {
  color: #ffffff;
  font-weight: normal;
  letter-spacing: 2px;
}

.ihsdc-navbar-nav {
  margin-left: auto;
}

.shortcut:hover {
  text-decoration: underline !important;
}

/* galary carousel */
.ihsdc-galary-testimonials {
  position: relative;
  width: 100%;
  height: auto;
}

.ihsdc-galary-carousel {
  width: 100%;
  height: auto;
  align-items: center;
}

.ihsdc-galary-item {
  width: 95%;
  max-height: 450px;
}

.ihsdc-galary-images {
  height: auto;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}

.ihsdc-galary-images img {
  max-width: 100%;
}
/*  */

/* testimonials */
.ihsdc-response-testimonials {
  position: relative;
  width: 100%;
  height: auto;
}

.ihsdc-response-carousel {
  width: 100%;
  height: auto;
  color: #ffffff;
  align-items: center;
  padding: 25px;
}

.ihsdc-response-item {
  background-color: #2563eb;
  width: 95%;
  max-height: 350px;
  padding: 15px;
}

.ihsdc-response-circle {
  height: 80px;
  width: 80px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
}

.ihsdc-response-circle img {
  width: 100%;
  margin-top: -15px;
}

.ihsdc-student-name {
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
}
/*  */

/* carousel and testimonials dots and buttons */
.owl-dots {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 5px;
}

.owl-dots span {
  width: 18px !important;
  height: 18px !important;
  border-color: #2563eb;
  border-width: 4px !important;
  border-style: solid;
  background-color: #c6ddea !important;
  display: block;
}

.owl-dots .active span {
  background-color: #2563eb !important;
}

.owl-dots span:hover {
  background-color: #ffffff !important;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #f1f1f1 !important;
  font-size: 60px !important;
  font-weight: bolder !important;
  background: none !important;
}

.owl-prev:hover,
.owl-next:hover {
  color: #2563eb !important;
}

.owl-prev {
  left: 5%;
}

.owl-next {
  right: 5%;
}
/*  */

/* icon */
.ihsdc-icon {
  color: #f3f4f6;
}

.ihsdc-icon:hover {
  color: #002777;
}
/*  */

.phone,
.email {
  color: #ffffff;
  text-decoration: none;
}

.phone:hover,
.email:hover {
  color: #c6ddea;
  text-decoration: underline;
}

/* go to top btn */
#button {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 40px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button:hover {
  cursor: pointer;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

.ihsdc-go-to-top-icon {
  color: #002777;
  font-size: 36px;
  font-weight: bolder;
}

.ihsdc-go-to-top-icon:hover {
  color: #44403C;
}
/*  */
