body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.6em;
  background-color: #C6DDEA;
}

body::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #888;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ihsdc-navbar {
  background-color: #328ffe;
}

.ihsdc-container-fluid {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-blend-mode: darken; */
  /* background: linear-gradient(#328ffe, #2563eb), url(/images/6-min.jpg); */
  height: 500px;
}

.ihsdc-navbar-brand {
  color: #ffffff;
  font-weight: normal;
  letter-spacing: 2px;
}

.ihsdc-navbar-nav {
  margin-left: auto;
}
